body{
    
    
  background-color: #202020;
  /*
  
  background-image: url('https://images.unsplash.com/photo-1485470733090-0aae1788d5af?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1517&q=80');
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  */
  margin: 0;
  

}




.landing_image {
  background-image: url("https://cdn.modrinth.com/data/HVnmMxH1/images/26327bef581206670288bf7e1b1b5f411291f793.jpeg");
  background-color: #202020;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.mods_plugins{
  background-color: white;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  
}

h1#w{
  top: 40%;
  left: 50%;
  text-align: center;
  position: absolute;
  
  transform: translate(-50%, -50%);
  color: #4569ed;
}
p#t{
  top: 50%;
  left: 50%;
  text-align: center;
  position: absolute;
  
  transform: translate(-50%, -50%);
  color: #4569ed;
}
h6#find{
  font-family: 'Poppins', sans-serif;
  color: #a2a2a2;
  top: -5%;
  left: 50%;
  text-align: center;
  position: absolute;
  
  transform: translate(-50%, -50%);

}
h2#sn{
  font-family: 'Poppins', sans-serif;
  color: black;
  top: 65%;
  left: 66%;
  text-align: center;
  position: absolute;
  
  transform: translate(-50%, -50%);


}
h2#mb{
  font-family: 'Poppins', sans-serif;
  color: black;
  top: 50%;
  left: 27%;
  text-align: center;
  position: absolute;
  
  transform: translate(-50%, -50%);

}
.mods_plugins_count{
  background-color: #202020;
  background-image: url("https://shadersmods.com/wp-content/uploads/2021/07/projectluma-shaders-minecraft-19.png");
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  
}

h1#mods{
  
  
  
  top: 10%;
  left: 50%;
  text-align: center;
  position: absolute;
  
  transform: translate(-50%, -50%);
}
h1#plugins{
  

  
  top: 25%;
  left: 50%;
  text-align: center;
  position: absolute;
  
  transform: translate(-50%, -50%);
}

h3#total_plugins_downloads{
  
  
  
  top: 70%;
  left: 50%;
  text-align: center;
  position: absolute;
  
  transform: translate(-50%, -50%);
}
h3#total_mods_downloads{
  
 
  
  top: 60%;
  left: 50%;
  text-align: center;
  position: absolute;
  
  transform: translate(-50%, -50%);
}
.mods_plugins_font {
  color: #4569ed
}

.wrapper {
  width: 100%;
}
.navbar {
  display: none;
}

.index {
  width: 100%;
}

.index h1#w {
  padding: 30px 30px 250px;
  font-size: 1.7rem;
}
.index p#t {
  padding: 30px 30px 150px;
  font-size: 1rem;
}
 

@media only screen and (min-width: 768px) {
  .navbar {
    display: block;
  }
  .copyright {
    background-color: #202020;
    text-align: center;
    
    padding: 0.5px;
    margin-bottom: 0px;
  }
}
