ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}
li#sbo{
  border-radius: 0px;
}
  
li#h, li#docs, li#p, li#a, li#d{
    float: left;
    
}
  
li#h a, li#docs a, li#p a, li#a a, a {
    display: block;
    color: white;
    text-align: center;
    
    padding: 14px 16px;
    text-decoration: none;
    
}
li#d a{
    color: white;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: underline;
    border-style: solid;
    
    border-color: white;
    background-color: rgba(0,0,0,0); 
    border-radius: 50px;
    
}
li#d a:hover{
    background-color: white;
    color: black;
}
.navbar{
    background-image: linear-gradient(to right, #50b8e7 , #202020); /* Old to color: #424242*/
    border-radius: 5px;
}
.copyright{
    background-color: black;
    text-align: center;
    
}
#cr{
    color: white;
    margin: 0px;
    background-color: #202020;
}


